@use '../variables.scss' as v;

.container {
    @include v.display-flex(0, 0, 0);
}

.pageContainer {
    flex: 4;
}

.content {
    padding: 1rem 1rem;
    @include v.display-flex(0, 0, 1rem);
    flex-direction: column;
}