@use '../variables.scss' as v;

.card {
    @include v.display-flex(center, 0, 10px);
    background: v.$background-white;
    box-shadow: v.$box-shadow;
    padding: 1rem;

    .card-content {
        @include v.display-flex(0, 0, 0);
        flex-direction: column;
        justify-content: space-around;
    }

    .title {
        color: v.$title-color;
    }

    .number {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .percentage {
        font-size: 0.8rem;

        span {
            color: #75baff;
            letter-spacing: 1px;
        }
    }

    img {
        width: 40px;
    }
}