@use '../variables.scss' as v;

.navbar {
    background: v.$background-white;
    border-bottom: 1px solid v.$border-color;
    height: 70px;

    display: flex;
    align-items: center;
    padding: 0 1rem;
}