@use '../variables.scss' as v;

.sidebar {
    flex: 1;
    border-right: 1px solid v.$border-color;
    background: v.$background-white;

    .logo {
        border-bottom: 1px solid v.$border-color;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            color: v.$main-color;
            font-weight: 700;
            font-size: 2rem;
        }
    }

    .title {
        text-transform: uppercase;
        color: v.$title-color;
        font-size: 0.8rem;
    }

    .link {
        text-decoration: none;
        color: v.$text-color;
    }
}