@use '../variables.scss' as v;

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    flex: 1;
    border-right: 1px solid v.$border-color;
    background: v.$background-white;
    overflow: auto;
    height: 100vh;

    .logo {
        border-bottom: 1px solid v.$border-color;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            color: v.$main-color;
            font-weight: 700;
            font-size: 2rem;
        }
    }

    ul {
        margin-left: 1.5rem;
        list-style-type: none;

        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .title {
        text-transform: uppercase;
        color: v.$title-color;
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .link {
        @include v.display-flex(0, center, 4px);

        text-decoration: none;
        color: v.$text-color;
        transition: v.$hover-transition;
    }

    .link:hover {
        color: v.$main-color;
    }

    .icon {
        font-size: 20px;
        color: v.$main-color;
    }
}